<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>

  <body>
    <p>
      In the
      <a class="nav-link" href="/" target="_blank">Current Data</a> section we
      can find the data collected in three different cities (each city has three
      stations). In Seville the stations used to collect data are: Los
      Principes, Bermejales and Torneo, in Sofia the stations are: Pavlovo,
      Druzhba and Hipodruma, while in Athens they are: Pireaus, LykovSrisi and
      Agia Paraskevi. The data are public and can be accessed by any person
      through this
      <a class="nav-link" href="https://aqicn.org/json-api/doc/">link</a>
    </p>
    <p>
      In the
      <a class="nav-link" href="/MapaCalor" target="_blank">Monthly Data</a>
      we can see the average value for each pollutant on each day of the month
      and country chosen. This data is stored in a proprietary database, where
      we store the values of each pollutant for each month and country. we store
      the values of each pollutant every time the air quality is measured in
      Sofia, Athens air quality is measured in Sofia, Athens and Seville.
    </p>
    <p>
      In the
      <a class="nav-link" href="/DatosMensuales" target="_blank">Annual Data</a>
      tab you can see the average of the values for each day of the pollutant,
      country and year chosen. As before, this data is stored in a proprietary
      database.
    </p>
    <p>
      We can also see
      <a class="nav-link" href="/Grafiaca3cont" target="_blank">comparison</a>
      of the values of the different pollutants in a date range and station we
      have chosen. station we have chosen. These data are in the same database
      as the database as the data of the two previous sections.
    </p>
    <p>
      In the
      <a class="nav-link" href="/Grafiacapm10" target="_blank"
        >PM10 Evolution</a
      >
      section it shows the PM10 values in a date range and station that we have
      selected. These data are obtained through devices that are located in each
      city. These devices are proprietary and once they measure the PM10 value
      automatically saves it in a database. database. Below we show the devices:
    </p>
    <p>
      More info about
      <a
        class="nav-link"
        href="https://twinspace.etwinning.net/94367/pages/page/691104"
        target="_blank"
        >Erasmus+ Project: 2019-1-ES01-KA202-063878.</a
      >
    </p>
    <table>
      <tr>
        <td>
          <table class="thu">
            <tr>
              <td>
                <a
                  href="https://prezi.com/ss800u91nh1d/air-quality-mesurment-device/?utm_campaign=share&utm_medium=copy"
                  target="_blank"
                >
                  <img
                    src="https://github.com/RodriguezMesaIgnacio/calidadAire/blob/master/images/funcionamientoGreece.png?raw=true"
                    alt=""
                    height="350px"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                The description of the Greek measuring device can be seen in the
                image above
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="thu">
            <tr>
              <td>
                <a
                  href="https://twinspace.etwinning.net/files/collabspace/7/67/367/94367/files/b770f5a0c.pdf"
                  target="_blank"
                >
                  <img
                    src="https://github.com/RodriguezMesaIgnacio/calidadAire/blob/master/images/funcionamientoSpain.png?raw=true"
                    alt=""
                    height="350px"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                In Spain and Bulgaria the same measuring device is used and its
                description can be seen in the image above.
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <br />
          <img src="./images/pie.png" alt="" />
        </td>
      </tr>
      <tr>
        <th colspan="2" style="text-align: center;">
          Page created by:
          <a
            href="https://www.linkedin.com/in/ignacio-rodriguez-mesa"
            target="_blank"
          >
            Ignacio Rodríguez Mesa
          </a>
          y
          <a
            href="https://www.linkedin.com/in/daniel-munoz-rodriguez"
            target="_blank"
          >
            Daniel Muñoz Rodríguez </a
          ><br />
          2nd year ASIR students
          <a href="https://www.iespuntadelverde.es/" target="_blank">
            IES Punta del Verde
          </a>
          (2020/21 academic year) <br /><br />
        </th>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          <img
            src="https://proyectoiaqi.herokuapp.com/assets/img/cofinanciadoEN_derecha.png"
            alt=""
            height="50px"
          />
        </th>
        <th>
          <img
            src="https://proyectoiaqi.herokuapp.com/assets/img/p_erasmus.png"
            alt=""
            height="70px"
          />
        </th>
        <th>
          <img
            src="https://image.jimcdn.com/app/cms/image/transf/dimension=218x10000:format=jpg/path/sde35e3aee3b27d2a/image/i56a3bfa8291353cf/version/1547157987/image.jpg"
            alt=""
            height="70px"
          />
        </th>
      </tr>
    </table>
  </body>
</html>
